


body {

}


.tempconv {
	display:inline;
}


#foo {
	background-color:yellow;
	width: 100px;
	height: 100px;
	display: inline-block;
}


#fu {
	background-color:blue;
	width: 100px;
	height: 100px;
	display: inline-block;
}

.multicolorfun {
	color: black;
	background-color: yellow;
	width: 100px;
	height: 100px
}