
body {
    background-color: gray;
    background-size: cover;
}

#navibar {
    z-index: 1;
    background-color:#080808;
    height: 70px;
    width: 100%;
    position: fixed;
    margin-top: -30px;
    display: inline;
    text-decoration: none;
}

a:link {
        text-decoration: none;
        color: inherit;
       }

a:hover {
        text-decoration: none;
        color: inherit;
        font-weight:bold;
       }

a:active {
        text-decoration: none;
        color: inherit;
       }

a:visited {
        text-decoration: none;
        color: inherit;
}

ul li {
    display: inline;
    font-size: 25px;
    color: #FFFFCC;
    font-family: sans-serif;
    padding:10px 20px 10px 10px;
    float: right;
}



p {
    font-family:sans-serif;
    color: white;
}


h4 {
    margin-top: 50px;
    font-family:sans-serif;
    color:white;
}

#Sbutton {
    border-radius: 5px;
}

#sloganline {
    font-family:sans-serif;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}


#Switcheroo {
    border-radius: 5px;
}
 

#footer {
    background-color:#080808;
    height: 35px;
    width: 100%;
    position: relative;
    clear: both;
    float: down;
    font-family: sans-serif;
    font-size: 14px;
    color:white;
    text-align: center;
}

#footer p {
    position: relative;
    padding: 10px;
}


.leftblock {
    position: relative;
    float: left;
    width: 10%;
    height: 800px;
    background-color: #080808;

}

.rightblock {
    position: relative;
    margin-top: 40px;
    width:88%;
    float:right;
    padding-left: 2%
}
